<%= form_with(model: map, local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="geocode">

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address , :data => {:target=>"geocode.address"} %>

      <input type="button" value="座標取得" data-action="click->geocode#get_lat_lng">
    </div>



    <div class="field">
      <%= form.label :latitude %>
      <%= form.text_field :latitude , :data => {:target=>"geocode.latitude"}  %>
    </div>

    <div class="field">
      <%= form.label :longitude %>
      <%= form.text_field :longitude , :data => {:target=>"geocode.longitude"}  %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

  </div>
<% end %>
